mcode/MouseTrack/utils/model/right/*
mcode/MouseTrack/utils/model/siam/*
mcode/MouseTrack/resource/video/*
mcode/MouseTrack/resource/
mcode/MouseTrack/utils/model/
mcode/MouseTrackutils
SiamRPNBIG.model
.idea
__pycache__
